@page
@model sistemE.Pages.Pagamentos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento[0].NumParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento[0].DataVenc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento[0].DataPag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento[0].Idemprestimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pagamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumParcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idemprestimo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
